.navbar {
  margin: 0;
  padding: 0;
  width: 100%;
  /* height: 547px; */
  background: url(../../images/HeroImage.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
  top: 0;
  z-index: 0;
}

.login-register button {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100px;
  height: 30px;
  margin-right: 10px;
}

.login-register .light {
  color: #ffffff;
  background: transparent;
  border: 1px solid #ffffff;
  outline: none;
}

.login-register .yellow {
  color: #ffffff;
  background: #ffaf00;
  outline: none;
}

.profile img {
  height: 50px;
  width: 50px;
  border: 1px solid #ffaf00;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}
